<div class="mb-4 border-bottom pb-2 row">
  
  <div class="col-11">
    <h4 class="mb-2" style="color: rgb(120,120,120)">{{job['title']}}</h4>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% if job['salary']!=None %}
    <div>
      <b>Salary:</b> {{job['salary']}}
    </div>
    {% endif %}   
  </div>

  <div class="col-1">
    <a href="mailto:hello@techai.ai?subject=Application%20for%20{{job['title']}}&body=My%20name%20%3A%0D%0AMy%20resume%20link%20%3A%0D%0AMy%20LinkedIn%20link%20%3A" type="button" class="btn btn-outline-primary">Apply</a>
  </div>

</div>





  <!-- <div style="text-align:right;">
     <button class="btn btn-primary mt-0 mb-0" style="text-align:right;"> Apply </button> 
   </div> -->